Flask
python-dotenv
langchain
langchain-community
langchain-openai          # ✅ AJOUTÉ ICI
unstructured
pypdf
faiss-cpu
sentence-transformers
streamlit
langchain-huggingface
huggingface_hub
markdown
